{
  "env": {
    "amd": 2,
    "browser": 2,
    "node": 2
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "require": false,
    "module": true
  },
  "rules": {
    "quotes": [1, "single"],
    "indent": [2, 2],
    "strict": [0, "global"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-proto": 0
  }
}
